@import "../../node_modules/bootstrap5/scss/_functions.scss";
@import "../../node_modules/bootstrap5/scss/_variables.scss";

$enable-responsive-font-sizes: true;

$kbd-color:					$dark;
$kbd-bg:					$gray-200;

$input-disabled-bg:			$light;

//$nav-link-padding-y:		.5rem;
//$nav-link-padding-x:		1rem;
$nav-tabs-link-active-bg:	$light;
$headings-color:			$gray-700;
$body-color:                $gray-800;


@import "../../node_modules/bootstrap5/scss/bootstrap.scss";




a,
.btn-link{
	cursor:	pointer;
	text-decoration:none;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}

p, .control-group {
	margin: 0 0 20px 0;
}

pre{
	background: #f0f0f0;
	padding:	1rem;
}

input[type=button] {
	margin: 0 10px 0 0;
	padding: 6px 10px;
	color: #606060;
	background: #e0e0e0;
	border: 0 none;
	width: auto;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-font-smoothing: antialiased;
}

.buttons {
	margin: 0 0 25px 0;
}

input[type=button]:hover {
	background: #dadada;
}

h1, h2, h3, h4, h5{
	margin-top:		3rem;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a{
	color:	$body-color;
}


strong,
b{
	color:			$headings-color;
}

li{
	margin-top: 0.5rem;
}

/**
 * Demo
 *
 */

.demo .value {
	margin: 0 0 10px 0;
	font-size: 12px;
}

.demo{

	.nav-tabs{
		border-bottom: 0 !important;
	}

	.nav-tabs a{
		color:	$secondary;
	}

	.tab-content{
		font-size: $font-size-base * .9;
	}


	pre[class*="language-"]{
		margin:			0 !important;
		border:			1px solid $border-color;
	}

}

/**
 * Syntax highlighter
 */
pre[class*="language-"]{
	background:		$light !important;
}

/**
 * Theme selector
 *
 */
.theme-selector {
	margin-top: 10px;
	font-size: 13px;
}
.theme-selector:before {
	content: 'Themes: ';
}
.theme-selector a {
	margin: 0 5px;
}
.theme-selector a.active {
	color: #202020;
	font-weight: bold;
}


/**
 * navbar
 *
 */
.offcanvas{
	height:				100vh;
	position:			sticky;
	top:				0;
	overflow-y:			auto;
	overflow-x:			hidden;
	visibility: 		visible;


	a{
		color:				$secondary;
		text-decoration:	none;
		transition:			background-color .3s ease-in-out;
	}

	a.h5{
		color:				$headings-color;
		font-weight:		bold;
	}

	.nav-link{
		padding:		.35rem 1.5rem .35rem 2.5rem;
	}

	.nav-link.active{
		color:				$dark;
	}

	.nav-link:hover,
	a.h5:hover{
		background:		white;
	}

}


.toggle-offcanvas{
	display:none;
}

@include media-breakpoint-down(md) {

	.toggle-offcanvas{
		display:			block;
		position:			fixed;
		top:				0;
		right:				0;
		z-index:			4;
	}

	.navbar-toggler-icon{
		background-image: escape-svg($navbar-light-toggler-icon-bg);
	}

	.offcanvas{
		position:	fixed;
		top:		0;
		left:		0;
		bottom:		0;
		overflow:	auto;
		z-index:	3;
		transition: transform .3s ease-in-out, visibility .3s ease-in-out;
		transform: translateX(-100%);
	}

	.offcanvas.open{
		transform: translateX(0);
	}

}

.badges{
	a{
		opacity:	0.75;
		transition: opacity .3s ease-in-out;
	}
	a:hover{
		opacity:	1;
	}
}
