---
title: Clear Button
nav_title: Clear Button
tags: demo
---


{% from "demo.njk" import demo %}


{% set label %}
<label class="h2 mb-3">
	clear_button
</label>
{% endset %}



{% set html %}
<input type="text" id="clear-button" value="awesome,neat" autocomplete="off">
{% endset %}

<script>
{% set script %}
new TomSelect('#clear-button',{
	plugins: ['clear_button'],
	persist: false,
	create: true,
});
{% endset %}
</script>


{{ demo( label, html, script) }}
