---
title: No Active Items
nav_title: No Active Items
tags: demo
---


{% from "demo.njk" import demo %}


{% set label %}
<label class="h2 mb-3">
	Example
</label>
{% endset %}


{% set html %}
<input type="text" id="ex-no-active-items" value="awesome,neat" autocomplete="off">
{% endset %}

<script>
{% set script %}
new TomSelect('#ex-no-active-items',{
	plugins: ['no_active_items'],
	persist: false,
	create: true,
});
{% endset %}
</script>


{{ demo( label, html, script) }}


<h2>Plugin Configuration</h2>
<p>No additional configuration settings for this plugin</p>
