---
title: No Backspace Delete
nav_title: No Backspace Delete
tags: demo
---


{% from "demo.njk" import demo %}


{% set label %}
<label class="h2 mb-3">
	Example with remove_button &amp; no_backspace_delete
</label>
{% endset %}

{% set html %}
<div id="example-wrapper">
<input type="text" id="disable-backspace" value="awesome,neat" autocomplete="off">
<input type="text" id="input-disable-control" class="form-control mt-2"  autocomplete="off" placeholder="How cool is this?" >
</div>
{% endset %}

<script>
{% set script %}
new TomSelect('#disable-backspace',{
	plugins: ['no_backspace_delete','remove_button',],
	persist: false,
	create: true,
	controlInput: '#input-disable-control',
	dropdownParent: '#example-wrapper',
});
{% endset %}
</script>

<style>
{% set style %}
#example-wrapper{
	position:relative;
}
{% endset %}
</style>

{{ demo( label, html, script, style) }}

<h2>Plugin Configuration</h2>
<p>No additional configuration settings for this plugin</p>
