<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{% if title %} {{ title }} - {% endif %} Tom Select</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<link rel="stylesheet" href="/css/stylesheet.css">
		<link href="https://unpkg.com/prismjs@1.20.0/themes/prism.css" rel="stylesheet" media="print" id="prism-css">
		{{ style | safe }}

		{#<script src="/js/bootstrap.bundle.min.js"></script> #}
		<script src="/js/bootstrap.tabs.min.js"></script>

		{% block tomselectjs %}
		<script src="/js/tom-select.complete.min.js"></script>
		{% endblock %}

		<script src="/js/index.js"></script>
		{{ script | safe }}
	</head>
    <body>

		{# offcanvas button #}
		<button id="toggle-offcanvas" class="btn btn-link" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>


		{# offcanvas #}
		<div id="offcanvas" class="d-flex flex-column bg-light border-end px-0 pt-5">
			{% include "nav.njk" %}
		</div>

		{# main-col #}
		<div class="px-3 main-col">
			<div class="my-4">
				<div class="container">
					{% if title %}
					<h1 class="display-4 mt-0">{{ title }}</h1>
					{% endif %}
				</div>
			</div>
			<div class="container mt-3" id="main-container">
				{{ content | safe }}
				{% block content_foot %}
				{% endblock %}
			</div>
		</div>


		<!-- Yandex.Metrika counter -->
		<script type="text/javascript" csp-hash>
		   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		   ym(77752060, "init", {
		        clickmap:true,
		        trackLinks:true,
		        accurateTrackBounce:true
		   });
		</script>
		<noscript><div><img src="https://mc.yandex.ru/watch/77752060" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->
	</body>
</html>
