<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/stylesheet.css">
  <meta http-equiv="refresh" content="0; URL='{{ destination }}'" />
  <title>Redirecting to: {{ destination }}</title>
</head>
<body>
	<div class="text-center p-5 h3">
		Redirecting to <a href="{{ destination }}">{{ destination }}</a> ...
	</div>
</body>
</html>
