<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{% if title %} {{ title }} - {% endif %} Tom Select</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<link rel="stylesheet" href="/css/stylesheet.css">
		<link href="https://unpkg.com/prismjs@1.20.0/themes/prism.css" rel="stylesheet" media="print" onload="this.media='all'"> {# syntax highlighting #}
		{{ style | safe }}

		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>

		{% block tomselectjs %}
		<script src="/js/tom-select.complete.js"></script>
		{% endblock %}

		<script src="/js/index.js"></script>
		{{ script | safe }}
	</head>
    <body>
		<div class="">

			<div class="row flex-lg-nowrap no-gutters">
				<div class="col-md-9 col-xl-10">
				</div>
			</div>

			<div class="row flex-lg-nowrap no-gutters" style="min-height:100vh;">

				<div class="col-md-3 col-lg-2 d-flex flex-column bg-light border-right px-0 offcanvas pt-5">
					{% include "nav.njk" %}
				</div>

				<div class="col-md-9 col-lg-10 pb-5">
					<div class="my-4">
						<div class="container">
							<button class="toggle-offcanvas btn btn-link" type="button">
								<span class="navbar-toggler-icon"></span>
							</button>
							{% if title %}
							<h1 class="display-4 mt-0">{{ title }}</h1>
							{% endif %}
						</div>
					</div>
					<div class="container mt-3" id="main-container">
						{{ content | safe }}
						{% block content_foot %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>

		<footer>
	    </footer>
	</body>
</html>
