
	<h5 class="mt-0"><a href="/">Home</a></h5>

	{# print a navigation link, add active/text-dark class if the current nav item is the current page
	 # https://www.11ty.dev/docs/data-eleventy-supplied/#page-variable-contents
	 #}


	{% macro nav_link(item) %}
		<a class="nav-link px-0 {% if page.url == item.url or page.filePathStem == item.filePathStem %} text-dark {% endif %}" href="{{ item.url }}">

		{% if item.title %}
			{{ item.title }}
		{% elseif item.data.nav_title %}
			{{ item.data.nav_title }}
		{% else %}
			{{ item.data.title }}
		{% endif %}
		</a>
	{% endmacro %}


	<h5 class="mt-3 mb-2"><a href="/examples/">Examples</a></h5>
	{% if 'examples' in page.filePathStem %}
	<nav class="nav flex-column">
		{% for demo in collections.demosAlpha %}
		  {{ nav_link(demo) }}
		{% endfor %}
	</nav>
	{% endif %}


	<h5 class="mt-3 mb-2"><a href="/usage">Documentation</a></h5>
	{% if 'examples' not in page.filePathStem %}
	<nav class="nav flex-column">
		{{ nav_link({url:'/usage',title:'Usage'}) }}
		{{ nav_link({url:'/api',title:'API'}) }}
		{{ nav_link({url:'/plugins',title:'Plugins'}) }}
		{{ nav_link({url:'/events',title:'Events'}) }}
		{{ nav_link({url:'/contribute',title:'Contribute'}) }}
		{{ nav_link({url:'/selectize',title:'selectize.js'}) }}
	</nav>
	{% endif %}

	<div class="py-5">
		<a href="https://github.com/orchidjs/orchid-select/doc_src/blob/master/{{ page.inputPath }}">Edit this page on GitHub</a>
		<div class="mt-3"><a href="https://github.com/orchidjs/orchid-select/graphs/contributors">© 2020 Contributors</a></div>
	</div>
