

	<a href="/" class="h5 my-0 px-4 py-3 d-block">Home</a>

	{# print a navigation link, add active/text-dark class if the current nav item is the current page
	 # https://www.11ty.dev/docs/data-eleventy-supplied/#page-variable-contents
	 #}


	{% macro nav_link(item) %}
		<a class="nav-link {% if page.url == item.url or page.filePathStem == item.filePathStem %} active {% endif %}" href="{{ item.url }}">

		{% if item.title %}
			{{ item.title }}
		{% elseif item.data.nav_title %}
			{{ item.data.nav_title }}
		{% else %}
			{{ item.data.title }}
		{% endif %}
		</a>
	{% endmacro %}


	<a href="/examples/" class="h5 px-4 py-3 my-0 d-block">Examples</a>
	{% if 'examples' in page.filePathStem %}
	<nav class="nav flex-column">
		{% for demo in collections.demosAlpha %}
		  {{ nav_link(demo) }}
		{% endfor %}
	</nav>
	{% endif %}


	<a href="/docs" class="h5 px-4 py-3 my-0 d-block">Docs</a>
	{% if 'docs' in page.filePathStem %}
	<nav class="nav flex-column">
		{{ nav_link({url:'/docs/',title:'Usage'}) }}
		{{ nav_link({url:'/docs/api/',title:'API'}) }}
		{{ nav_link({url:'/docs/plugins/',title:'Plugins'}) }}
		{{ nav_link({url:'/docs/events/',title:'Events'}) }}
		{{ nav_link({url:'/docs/contribute/',title:'Contribute'}) }}
		{{ nav_link({url:'/docs/selectize.js/',title:'selectize.js'}) }}
	</nav>
	{% endif %}

	<div class="border-bottom m-4"></div>

	<a href="https://github.com/orchidjs/tom-select" class="h5 px-4 py-3 my-0 d-block">GitHub</a>
	<a href="https://www.npmjs.com/package/tom-select" class="h5 px-4 py-3 my-0 d-block">NPM</a>


	<div class="mt-auto p-4 badges small">
		<a href="https://github.com/orchidjs/tom-select/blob/master/{{ page.inputPath }}">Edit this page on GitHub</a>
		<div class="mt-2"><a href="https://github.com/orchidjs/tom-select/graphs/contributors">© 2020 Contributors</a></div>
	</div>
