a{
	cursor:	pointer;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}

p, .control-group {
	margin: 0 0 20px 0;
}

input[type=button] {
	margin: 0 10px 0 0;
	padding: 6px 10px;
	color: #606060;
	background: #e0e0e0;
	border: 0 none;
	width: auto;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-font-smoothing: antialiased;
}

.buttons {
	margin: 0 0 25px 0;
}

input[type=button]:hover {
	background: #dadada;
}


/**
 * Demo
 *
 */
.demo:last-child {
	border-bottom: 0 none;
}

.demo .selectize-control {
	width: 100%;
}

.demo .value {
	margin: 0 0 10px 0;
	font-size: 12px;
}
.demo .value span {
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/**
 * Theme selector
 *
 */
.theme-selector {
	margin-top: 10px;
	font-size: 13px;
}
.theme-selector:before {
	content: 'Themes: ';
}
.theme-selector a {
	margin: 0 5px;
}
.theme-selector a.active {
	color: #202020;
	font-weight: bold;
}
